// defining variables
$fontFamily: "Open Sans", sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;
$primary-header-color: #ffffff;
$subtext-color: #d3d3d3;
$form-panel-bg-color: #f2f2f2;
$form-blue: #348fbc;
$form-disabled-color: #909090;
$selected-option-color: #212121;

//background gray and background image styles
html {
  background: gray;
  background-image: url("/src/styles/car-finder-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

//Global styles
body {
  font-family: $fontFamily;
  color: $subtext-color;
  background-color: $form-panel-bg-color;
  background: none;
}

header {
  color: $primary-header-color;
  font-weight: $font-weight-bold;
}

//button styles
button {
  background-color: $form-blue;
  color: $primary-header-color;
  border: none;
  &:disabled {
    background-color: $form-disabled-color;
    cursor: not-allowed;
  }
  .form-panel {
    background-color: $form-panel-bg-color;
    padding: 20px;
    border-radius: 8px;
  }
  //option styles
  .selected-option {
    background-color: $selected-option-color;
    color: $primary-header-color;
    border: radius 4px;
  }
}

//form styles
#form-container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}

#car-search-form {
  background-color: $form-panel-bg-color;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    font-size: 1.3rem;
    font-weight: bold;
    color: $form-blue;
    margin-bottom: 5px;
  }

  button {
    grid-column: span 3;
    justify-content: center;
    background-color: gainsboro;
    color: $form-blue;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $form-panel-bg-color;
    }

    &:disabled {
      background-color: $form-disabled-color;
      cursor: not-allowed;
    }
  }
}
